BASE_URL='your base url'

# MongoDB URI for connecting to your MongoDB database.
# You can get this from your MongoDB Atlas or local MongoDB instance.
MONGODB_URI="You can get this from your MongoDB Atlas or local MongoDB instance."

# JWT Secret for Access Token (AT).
# Generate a secure random string using the following bash command:
# bash: openssl rand -base64 64
AT_SECRET="bash: openssl rand -base64 64"

# JWT Secret for Refresh Token (RT).
# Generate a secure random string using the following bash command:
# bash: openssl rand -base64 64
RT_SECRET="bash: openssl rand -base64 64"

# Resend API key for sending transactional emails.
# You can get your API key from Resend by creating an account and generating one in the Resend dashboard.
# https://resend.com/
# ⚠️ Warning: Unless you connect your own domain to your Resend account,
# you can only send emails to your verified Resend account email address.
RESEND_API_KEY="You can get your API key from Resend. See note above."
